PORT='Puerto que quiere usar'
ADMIN_USER=
ADMIN_PASSWORD=
SHEET_ID = El ID de la hoja de cálculo donde necesitamos los registros (Sin comillas)
GOOGLE_APPLICATION_CREDENTIALS_JSON = 'Todo el contenido del archivo de credenciales .JSON de Google' (sin de las comillas en una sola linea);
REDIS_URL=
REDIS_PASSWORD=
FRONTEND_KEY_APP='token del frond'